<!doctype html>

<html lang="en, ru">
<head>

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	<title>Experiment</title>

	<meta name="description" content="Questionnaire">
	<meta name="author" content="V">

	<!--link rel="stylesheet" href="css/styles.css?v=1.0"-->

	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
</head>
<body>


	<div class="container">
		<div id="inqueryPage" > <!-- страница с анкетой -->
		<br>
			<div>
				<span>
				Ниже будут приведены начала детских дразнилок. Ваша задача продолжить их.
				</span>
				<span>
				Пожалуйста, не задумывайтесь, перед тем, как ответить - отвечайте первое, что приходит в голову. Если вариантов несколько - напишите их все. Допустимы также любые комментарии.</span>
			</div>
		<br>	
		<form id="QuestionnaireForm" method="POST">
			<div class="form-group">
				<label for="Q1">Жадина-говядина... </label><br> <textarea id='Q1' name='A1' ></textarea>
			</div>
			<div class="form-group">
				<label for="Q2">Обманули... </label><br> <textarea id='Q2' name='A2'></textarea>
			</div>
						<div class="form-group">
				<label for="Q3">Плакса... </label><br> <textarea id='Q3' name='A3' ></textarea>
			</div>
			<div class="form-group">
				<label for="Q4">Рёва... </label><br> <textarea id='Q4' name='A4' ></textarea>
			</div>
			<div class="form-group">
				<label for="Q5">Андрей-воробей... </label><br> <textarea id='Q5' name='A5' ></textarea>
			</div>
			<div class="form-group">
				<label for="Q6">Антошка-картошка...</label><br> <textarea id='Q6' name='A6' ></textarea>
			</div>
			<div class="form-group">
				<label for="Q7">Борис-барбарис... </label><br> <textarea id='Q7' name='A7' ></textarea>
			</div>
			<div class="form-group">
				<label for="Q8">Коля, Коля, Николай... </label><br> <textarea id='Q8' name='A8' ></textarea>
			</div>
			<div class="form-group">
				<label for="Q9">Воображала... </label><br> <textarea id='Q9' name='A9' ></textarea>
			</div>
			<div class="form-group">
				<label for="Q10">Командир полка... </label><br> <textarea id='Q10' name='A10' ></textarea>
			</div>
			<div class="form-group">
				<label for="Q11">Фу-ты, ну-ты... </label><br> <textarea id='Q11' name='A11' ></textarea>
			</div>
			<div class="form-group">
				<label for="Q12">Толстая бочка... </label><br> <textarea id='Q12' name='A12' ></textarea>
			</div>
			<div class="form-group">
				<label for="Q13">Тили-тили тесто...</label><br> <textarea id='Q13' name='A13' ></textarea>
			</div>
			<div class="form-group">
				<label for="Q14">Так тебе и надо...</label><br> <textarea id='Q14' name='A14' ></textarea>
			</div>
			<div class="form-group">
				<label for="Q15">Повторюшка...</label><br> <textarea id='Q15' name='A15' ></textarea>
			</div>
			<div class="form-group">
				<label for="Q16">Обзывайся...</label><br> <textarea id='Q16' name='A16' ></textarea>
			</div>
			<div class="form-group">
				<label for="Q17">Ну-ну, баранки гну...</label><br> <textarea id='Q17' name='A17' ></textarea>
			</div>
			<button type="submit" class="btn btn-primary">
			Готово</button>
		</form>

	</div>

</body>
</html>