<!doctype html>

<html lang="en, ru">
<head>

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	<title>Experiment</title>

	<meta name="description" content="Inquery">
	<meta name="author" content="V">

	<!--link rel="stylesheet" href="css/styles.css?v=1.0"-->

	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
</head>
<body>


	<div class="container">
		<div id="inqueryPage" > <!-- страница с анкетой -->
			<div>
			<span>Сначала, пожалуйста, заполните демографический блок, чтобы нам было, где искать интересные корреляции. Мы знаем, что он очень длинный и скучный и заранее говорим вам спасибо за долготерпение. </span>
			</div>
		<br> 
		<form id="inqueryForm" method="POST">
			<div class="form-group">
				<label for="userNameInput">Псевдоним: </label><br> <input type="text" class="form-control"         id="userNameInput" name="userName"           required><!-- Псевдоним -->
			</div>

			<div class="form-group">
				<label for="userAgeInput">Возраст (полных лет): </label><br> <input class="form-control"         id="userAgeInput" name="userAge" type="number" min="6" max="90" required><!-- Возраст (полных лет) -->
			</div>

			<div class="form-group">
				<label for="userSexRadio">Пол: </label> <!-- radio: Пол: м/ж/другое (укажите) -->
				<div class="form-group" id="userSexRadio">
					<div>
						<input  type="radio" class="form-check-input" name="userSex" value="male" id="sexMale" required>
						<label for="sexMale">мужской</label>
					</div>
					<div>
						<input  type="radio" class="form-check-input" name="userSex" value="female" id="sexFemale" required>
						<label for="sexFemale">женский</label>
					</div>
					<div>
					  <input type="radio" class="form-check-input" name="userSex" value="other" id="sexOther" required>
					  <label for="sexOther">другое (укажите):</label>
					  <input type="text" class="form-control"                   name="userSex">
					</div>
				</div>
			</div>


			<div class="form-group" >
		    <label for="userEducationSelect">Образование: </label>
		    <select class="form-control" id="userEducationSelect" name="userEducation">
				<option value="school">среднее</option>
				<option value="vocational">среднее специальное</option>
				<option value="higher undergraduate">неоконченное высшее</option>
				<option value="graduate">высшее</option>
				<option value="degree">ученая степень</option>
		    </select>
			</div>

			<div class="form-group">
					<label for="yearsOfEducationInput">Длительность образования в годах (например, школа+среднее специальное+высшее - 11+2+5=18 лет): </label><br>
					<input class="form-control"        id="yearsOfEducationInput" name="userYearsOfEducation" type="number" min="1" max="40" required><!-- Длительность образования в годах (например, школа+среднее специальное+высшее - 11+2+5=18 лет) -->
			</div>

			<div class="form-group">
				<label for="userprofessionInput">Область профессиональной деятельности: </label><br>
				<input type="text" class="form-control"        id="userProfessionInput" name="userProfession"           required> <!-- Область профессиональной деятельности -->
			</div>

			<div class="form-group">
				<label for="languageInput">Родной язык: </label><br>
				<input type="text" class="form-control"         id="userLanguageInput" name="userLanguage"           required><!-- Родной язык -->
			</div>

			<div class="form-group">
				<label for="userBirthPlaceInput">Где Вы родились / провели детство: </label><br>
				<input type="text" class="form-control"         id="userBirthPlaceInput" name="userBirthPlace"           required><!-- Место рождения -->
			
			</div>
						<div class="form-group">
				<label for="userMomBirthPlaceInput">Место рождения матери: </label><br>
				<input type="text" class="form-control"         id="userMomBirthPlaceInput" name="userMomBirthPlace"           required><!-- Место рождения матери -->
			</div>
			
			</div>
						<div class="form-group">
				<label for="userDadBirthPlaceInput">Место рождения отца: </label><br>
				<input type="text" class="form-control"         id="userDadBirthPlaceInput" name="userDadBirthPlace"           required><!-- Место рождения отца -->
			</div>
			
			<div class="form-group">
				<label for="userPlaceInput">Место проживания: </label><br>
				<input type="text" class="form-control"         id="userPlaceInput" name="userPlace"           required><!-- Место жительства -->
			</div>
			
			<button type="submit" class="btn btn-primary">Готово</button>
		</form>

	</div>

</body>
</html>