<!doctype html>

<html lang="en, ru">
<head>

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	<title>Experiment</title>

	<meta name="description" content="Search">
	<meta name="author" content="V">

	<!--link rel="stylesheet" href="css/styles.css?v=1.0"-->

	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
</head>
<body>


	<div class="container">
		<div id="searchPage" >
			<div>
				<span>Тут можно будет что-то искать. Когда-нибудь...</span>
			</div>
			<form id="searchForm" method="GET" action="/results">
				<div class="form-group">
					<label for="placeInput">Введите искомый город проживания: </label><br> <input type="text" class="form-control" id="placeInput" name="Place">
				</div>
				
				<div class="form-group">
					<label for="questionInput">Введите номер вопроса: </label><br> <input class="form-control" id="questionInput" name="questionNumber" type="number" min="1" max="17">
				</div>
				
				<div class="form-group">
					<label for="userMinAgeInput">Возраст (от): </label>
					<input class="form-control" id="userMinAgeInput" name="userMinAge" type="number" min="6" max="90">
					<label for="userMaxAgeInput"> (до): </label> 
					<input class="form-control" id="userMaxAgeInput" name="userMaxAge" type="number" min="6" max="90">
				</div>
				
				<button type="submit" class="btn btn-primary">Go</button>
			</form>	
		</div>
	</div>

</body>
</html>