<!doctype html>

<html lang="en, ru">
<head>

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	<title>hui</title>

	<meta name="description" content="Pseudorandom phrase generator">
	<meta name="author" content="V">

	<!--link rel="stylesheet" href="css/styles.css?v=1.0"-->

	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
</head>
<body>


	<div class="container">
		<div id="mainPage" > <!-- главная -->
		<br> 
		<form id="form" action='/'>

			<div class="form-group">
				<label for="phraseInput">Введите предложение: </label><br>
				<input type="text" class="form-control"  id="phraseInput" name="phrase"           required> 
			</div>

			<button type="submit" class="btn btn-primary">Готово</button>
			
			<span id='pseudophrase'>
				{{new_phrase}}
			</span>
			
		</form>
		</div>
	</div>

</body>
</html>